p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.overview {
  border:1px solid black;
  background-color: #ddffdd;
  margin: 20px;
  padding: 5px;
}

.courses {
  border:1px dashed blue;
  background-color: #ddddff;
  margin: 20px;
  padding: 5px;
}

.dependencies {
  border:1px dashed red;
  background-color: #ffdddd;
  margin: 20px;
  padding: 5px;
}

.colofon {
  border:0;
  background-color: #ffffff;
  margin: 20px;
  padding: 5px;
  text-align: right;
}

.notice {
  border:1px dashed black;
  background-color: #dddddd;
  margin: 20px;
  padding: 5px;
}

.overview ul, .courses ul, .dependencies ul {
  list-style-type: none;
}

.overview li:before {
  content: '✔️'; margin-left: -10px; margin-right: 10px;
}

.courses li:before {
  content: '🎓️'; margin-left: -10px; margin-right: 10px;
}

.dependencies li:before {
  content: '⏮️'; margin-left: -10px; margin-right: 10px;
}

.hanging-indent {
  padding-left: 1em ;
  text-indent: -1em ;
}

.book .book-body .page-wrapper .page-inner section.normal .courses ul, .book .book-body .page-wrapper .page-inner section.normal .colofon ul, .book .book-body .page-wrapper .page-inner section.normal .overview ul, .book .book-body .page-wrapper .page-inner section.normal .dependencies ul {
  margin-bottom: 0;
}
